apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: facebook
  name: facebook-canary
spec:
  replicas: 10
  selector:
    matchLabels:
      app: facebook
      release: canary
  template:
    metadata:
      labels:
        app: facebook
        release: canary
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
      - image: nginx
        name: nginx