apiVersion: v1
kind: Pod
metadata:
  name: startup
spec:
  containers:
  - name: startup
    image: brainupgrade/weather:monolith
    startupProbe:
      httpGet:
        path: /
        port: 8080
      failureThreshold: 5
      successThreshold: 1
      periodSeconds: 60
      initialDelaySeconds: 0
