---
apiVersion: v1
kind: Service
metadata:
  name: redisapp
spec:
  type: ClusterIP
  ports:
  - port: 80
    protocol: TCP
    targetPort: 5000
  selector:
    app: redisapp
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redisapp
  spec:
    replicas: 1
    selector:
      matchLabels:
        app: redisapp
    template:
      metadata:
        labels:
          app: redisapp
      spec:
        containers:
        - name: myapp
          image: calinrus/api-redis-ha:1.0
          ports:
          - containerPort: 5000