apiVersion: v1
kind: Pod
metadata:
  labels:
    app: statements
    release: prod
    region: hongkong
  name: tolerations-release-qa
spec:
  containers:
  - image: nginx
    name: nginx
  tolerations:
    - key: "app"
      operator: "Exists"
      value: "aiml"
      effect: "NoSchedule"

# kubectl get nodes -o json | jq ".items[]|{name:.metadata.name,taints:.spec.taints}"